@model IEnumerable<Taxi.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.destinationAddress)
            &nbsp;
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departureAddress)
            &nbsp;
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clientPhoneNumber)
            &nbsp;
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
            &nbsp;
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
            &nbsp;
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
            &nbsp;
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.destinationAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departureAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clientPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Take order", "TakeOrder", new { id=item.Id }) |
            @Html.ActionLink("Show order details", "ShowOrderDetails", new { id=item.Id })
        </td>
    </tr>
}
</table>
